@charset "UTF-8";

/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .

*/
body{
    background-color: rgb(149, 199, 182);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(6, 110, 75);
}
h1#principal {
    text-align: center;
    background-color: azure;
    color: black;
}

h2{
    color: rgb(15, 78, 31);
} 
.basico{
    color: rgb(47, 87, 7);
    font-weight: bold;
}
.intermediario{
    color: rgb(207, 224, 110);
}
.avancado{
    color: rgb(119, 49, 63);

}